<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
       <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="When Great Minds Don’t Think Alike" />
        <meta property="og:description"        content="How much does culture influence creative thinking?" />
        <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/user_layout.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- SELECTRIC.JS -->
        <link rel="stylesheet" href="{{ asset('css/selectric.css') }}">

        <!-- UNITE-GALERY -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.40/css/unite-gallery.min.css' type='text/css' /> 
        
        <!-- FONT-AWESOME.JS -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navBar">
            <nav class="wrapper">
                <div class="logo">
                    <img alt="Image 2 Title" src="{{ asset('images/logofrat.jpeg')}}" style ="height : 60px;width :60px">
                </div><!-- Logo -->
                <input type="checkbox" id="menu-toggle" />
                <label for="menu-toggle" class="label-toggle"></label>
                <ul>
                <li><a href="{{ path('index')}}">Accueil</a></li>
                <li><a href="#">La Frat'</a></li>
                <li><a href="{{ path('actualite')}}">A la Une</a></li>
                <li><a href="{{ path('agenda')}}">Agenda</a></li>
                <li><a href="{{ path('contact')}}">Contact</a></li>
                <li><a href="{{ path('galerie')}}">Galerie Photos</a></li>
                </ul>
            </nav>
        </nav>
        <div class="margin"></div>
       
        {% block body %}{% endblock %}
         
    
       
    </body>

    <script src="{{ asset('js/basics.js') }}"></script>

    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- SELECTRIC.JS -->
    <script src="https://cdn.jsdelivr.net/npm/selectric@1.13.0/public/jquery.selectric.min.js"></script>
   
    <!-- UNITE-GALERY -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/unitegallery/1.7.40/js/unitegallery.min.js'></script> 
   
     {% block javascripts %}{% endblock %}
  

</html>
